[submodule "external/JUCE"]
	path = external/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "external/corrosion"]
	path = external/corrosion
	url = https://github.com/corrosion-rs/corrosion.git
